*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main{

    width: 50%;
    height: 400px;
    border: 2px solid green;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("/images/five.jpg");
}

.pink-side{

    width: 10%;
    background-color: red;
    height: 20px;
    transition: width 0.3s linear;
    visibility: hidden;
    
}

.main:hover>.pink-side{

    width: 50%;
    visibility: visible;
}

.black-side{

    width: 10%;
    background-color: green;
    height: 20px;
    transition: width 0.3s linear;
    visibility: hidden;
     
}

.main:hover>.black-side{

    width: 50%;
    visibility: visible;
}



